raise_layer {
    bindings = <
        &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS
        &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS
        &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                              &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS
    >;
};
